extends layout

block content
    #wrap
      #header  
            #logo
                a(href='/')
                    img(src='/images/logo.png')
      div.row-fluid
        div.span12.background-color-blue#color-row              
              
      .container
           include adminheader
    div.row-fluid
      div.span12.background-color-blue#color-row       
    include footer