#userbar
	.hero-unit
		h4 Bienvenido #{username}, disfrute de las neuvas shuriken 
		ul.nav.nav-pills.hero-margin
			.span1	
			li.active.span4		
				a(href='/items').btn-large Items 
			li.span4							
				a(href='/logout').btn-large Log Out
