html,body {
		background:#f7f5f5;
		font: 14px Helvetica, Arial, sans-serif; 
		height: 100%;
}

#header{
		background:#2D2D2D left;
		background-repeat:no-repeat;
		display:block;
		height: 10em;
		position: relative;
}

#logo{
		text-align: center;
}


/* Wrapper for page content to push down footer */
#wrap {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		/* Negative indent footer by it's height */
		margin: 0 auto -70px;
}

#footer {
		height: 70px;
		text-align:center;
		background: #2D2D2D;
}


	/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
		}
	}
#footer a {
		padding-left:8px;
		padding-right:8px;
		font:bold 15px Helvetica, Arial, Helvetica, sans-serif;
		color:#6c675e;
}

/*Big icons*/
.big-icon{
		font-size:4em;
		text-align:center;
		transition: transform 300ms ease-in;
}

.big-icon:hover {
		transform: scale(0.6);
		color:#447294;
}

.big-icon a{
		color:#447294;
		text-decoration:none;
}

.hero-margin{
	margin-top:50px 
}
.hero-unit a{
	text-align: center;
}


.margin{
	margin: 30px;
}
.center{
	text-align: center;
}

.red-color
{
	color: #447294;
}


.red-background-color
{
	background-color: #447294;
	max-height: 1px;
}


.form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
 }
 .form-signin .form-signin-heading,
 .form-signin .checkbox {
        margin-bottom: 10px;
 }
 
 .form-signin input[type="text"],
 .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
  }
  .hero-unit h5
  {
  	 color: #447294;
  }


.color-blue{
	color: #447294;
}

.background-color-blue
{
	background-color: #447294 
}

#color-row {
		min-height: 4px;
	}